.about-main {
    display: flex;
    margin: 30px 30px;
}

.pic-container, .about-container {
    flex: 1;
}

.pic-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cory-pic {
    width: 250px;
    border-radius: 200px;
    text-align: center;
}

.name-text, .title-text {
    margin: 0;
    padding: 0;
}

.name-text {
    font-size: 60px;
}

.title-text {
    font-size: 80px;
    margin-top: -10px;
}

.about-text {
    margin: 10px 50px 0px 0px;
    font-size: larger;
}

.tech-stack {
    text-align: center;
    margin: 0px 40px;
}

.tech-header {
    font-size: larger;
    font-family: "Playwrite NZ", cursive;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
}

.ul {
    margin: 0px 40px;
    padding-top: 0px;
    font-size: larger;
}