.about-main {
    display: flex;
    margin: 30px 30px;
}

.pic-container, .about-text {
    flex: 1;
}

.pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cory-pic {
    width: 250px;
    border-radius: 200px;
    text-align: center;
}

.cory-text, .sanders-text {
    margin: 0;
    padding: 0;
}

.cory-text {
    font-size: 60px;
}

.sanders-text {
    font-size: 100px;
    margin-top: -20px;
}