.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B4280;
    height: 80px;
}

.nav-header {
    margin-left: 10px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
    color: #fff;
}

.nav-button {
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    border: 2px solid #3b3b3b;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #F1F1F1;
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}

.nav-button:hover {
    cursor: pointer;
    background-color: #3b3b3b;
    color: #fff;
    border: 2px solid #fff;
}

@media screen and (max-width: 690px) {
    .nav-header {
        font-size: 0px;
    }

    .nav-container {
        display: flex;
        justify-content: center;
    }
}